<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="guru99">
	<listeners>
		<listener class-name="guru99.customListeners.MyListener" />
	</listeners>
	<test thread-count="5" name="Mobilequantityverify">
		<classes>
			<class name="guru99.websiteTest.MobileSortingTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
